.container {
    height: 100vh; /* Use vh instead of dvh for better compatibility */
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(180deg, #1f3a5ae1 0%, #0c0d0e 100%);
    z-index: 0;
    padding: 0 !important;
}

.container:before {
    content: ''; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Use vw instead of dvw for better compatibility */
    height: 100vh; /* Use vh instead of dvh for better compatibility */
    background: url('../../../public/hbk1.jpeg') no-repeat center center;
    background-size: cover; 
    filter: brightness(0.6) blur(40px);
    z-index: -1;
}

.container::-webkit-scrollbar {
    width: 2px;
}

.container::-webkit-scrollbar-track {
    background-color: #2c2c2c; 
}

.container::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: blue; 
    border: none; 
}

.popMenu{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.items{
    width: 80%;
    margin: 10px auto;

}

/*custom radio button*/
.customRadioHolder {
    margin: 20px 50px;
    display: flex;
}

.customRadio {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
}

.customRadio:hover {
    background-color: #2c2c2c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customRadio .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
}

.customRadio:hover .inner {
    transform: translateY(-2px);
}

.customRadioWrapper:first-of-type .customRadio {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

.customRadioWrapper:last-of-type .customRadio {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

.customRadioInput {
    display: none;
}

.customRadioInput:checked+.customRadioWrapper .customRadio {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customRadioInput:checked+.customRadioWrapper .customRadio .inner {
    transform: translateY(-2px);
}

.customRadioInput:checked+.customRadioWrapper .customRadio:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customRadioWrapper .customRadio:hover .inner {
    transform: translateY(-2px);
}


.listCtr{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 