.Lost{
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #1f3a5ae1 0%, #0c0d0e 100%);
}
.contentNav{
    position: fixed;
    right: 15px;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 3;
}
.contentNav img{
    height: 65px;
    padding: 8px;
}
.contentNav a:nth-child(2){
    border-radius: 4px;
    background-color: rgba(16, 26, 211, 0.449);
}

.contentNav a:hover{
    border-radius: 4px;
    background-color: rgba(16, 26, 211, 0.621);
    transition: 0.3s;
}

.ctr{
    height: 100dvh;
    width: 100dvw;
    position: relative;
}


.lists{
    margin: 90px 0 10px 7vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
